<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/demo6.css">
</head>
<body>
    <section id="Top">
        <div class="container">
            <div class="con">
                <div>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <p>Maynooth Road, Kilcock, Co Kildare, Ireland</p>
                </div>
                <div>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <p>info@vtcpperformance.com</p>
                </div>
                <div>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p>+ 353 87 371 1974</p>
                </div>
                <div>
                    <input type="text" placeholder="Search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div>
                    Login
                    <img src="https://img.icons8.com/material-sharp/24/c6171e/lock-2.png" style="margin-left: 10px;" />
                </div>
            </div>
        </div>
    </section>
    <header>
        <div class="top"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <div class="logotxt1">VTC</div>
                        <div class="logotxt2">PERFORMANCE</div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <span></span>
                            <li class="active"><a href="#">Find your vehicle</a></li>
                            <span></span>
                            <li><a href="#">Remapping</a></li>
                            <span></span>
                            <li><a href="#">Dyno facilities</a></li>
                            <span></span>
                            <li><a href="#">Shop</a></li>
                            <span></span>
                            <li><a href="#">Become a dealer</a></li>
                            <span></span>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="heading2">
        <div class="container">
            <h1>Choose Your vehicle</h1>
        </div>
    </section>
    <section class="detailsHead">
        <div class="container">
            <div class="row preStep">
                <img src="../static/arrow.png" height="20px" width="20px" alt=""/>
                <h4>Previous Step</h4>
            </div><br>
            <div class="row detailsLogos">
                <div class="col-md-2">
                    <img src="../static/alfa romeo logo.png" alt="">
                </div>
                <div class="col-md-3">
                    <h4>Alfa Romeo 156</h4>
                    <h5>1.9 JTD - 115 HP</h5>
                    <h5>2003 > 2010 Diesel</h5>
                </div>
                <div class="col-md-7 detailsLogosImg">
                    <div>
                        <img src="../static/grayline.png" alt="">
                        <img src="../static/blackspeed.png" alt="">
                        <img src="../static/blackcar.png" alt="">
                    </div>
                    <div>
                        <img src="../static/redline.png" alt="">
                        <img src="../static/redspeed.png" alt="">
                        <img src="../static/redcar.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="detailsTable">
        <div class="container">
            <table>
                <tr>
                    <th><p>Company</p></th>
                    <th><p>Contact</p></th>
                    <th><p>Country</p></th>
                </tr>
                <tr>
                    <td><p>Alfreds Futterkiste</p></td>
                    <td><p>Maria Anders</p></td>
                    <td><p>Germany</p></td>
                </tr>
                <tr class="redColor">
                    <td><p>Centro comercial Moctezuma</p></td>
                    <td><p>Francisco Chang</p></td>
                    <td><p>Mexico</p></td>
                </tr>
            </table>
        </div>
    </section>
    
    <section class="detailsPrice">
        <div class="container">
            <div class="firstPriceDiv">
                <h4>Remap only</h4>
                <h4 class="price">
                    <strong>&euro;280.00 </strong>
                    (more info)
                </h4>
            </div>
            <div>
                <h4>Custom Dyno Tuning</h4>
                <h4 class="price">
                    <strong>&euro;350.00 </strong>
                    (more info)
                </h4>
            </div>
        </div>
    </section>
    <section class="detailsButton">
        <div class="container">
            <div>
                <button type="button">
                    <img src="../static/redbutton.png" alt="">
                    <p>Make an appointment</p>
                </button>
                <img src="../static/shadow.png" alt="">
            </div>
        </div>
    </section>
    <footer>
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="container">
            <div class="row firstrow">
                <div class="col-md-3">
                    <div class="logo">
                        <div class="logotxt1">VTC</div>
                        <div class="logotxt2">PERFORMANCE</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <h4 class="mb-2">Browse Site</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Remapping</a></li>
                        <li><a href="#">Dyno Facilities</a></li>
                        <li><a href="#">Become a Dealer</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <button type="button" class="clientLogin">Clients Login</button>
                    <div class="subscription">
                        <input type="text" placeholder="Your Email..."/>
                        <button type="button">Subscribe</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Follow us on</h4>
                    <div class="socialMedia">
                        <div>
                            <img src="../static/metalbutton.png" alt="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </div>
                        <div>
                            <img src="../static/metalbutton.png" alt="">
                            <i class="fa fa-youtube-square" aria-hidden="true"></i>
                        </div>
                        <div>
                            <img src="../static/metalbutton.png" alt="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                        <div>
                            <img src="./metalbutton.png" alt="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2" style="text-align: center;">
                <p class="text-center w-100">
                    (c) 2020 VTC Performance. All rights reserved.
                </p>
            </div>
        </div>
    </footer>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.js" 
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
    crossorigin="anonymous">
</script>
</html>