<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/shop1.css">
</head>
<body>
    <section id="Top">
        <div class="container">
            <div class="con">
                <div>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <p>Maynooth Road, Kilcock, Co Kildare, Ireland</p>
                </div>
                <div>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <p>info@vtcpperformance.com</p>
                </div>
                <div>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p>+ 353 87 371 1974</p>
                </div>
                <div>
                    <input type="text" placeholder="Search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div>
                    Login
                    <img src="https://img.icons8.com/material-sharp/24/c6171e/lock-2.png" style="margin-left: 10px;" />
                </div>
            </div>
        </div>
    </section>
    <header>
        <div class="top"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <div class="logotxt1">VTC</div>
                        <div class="logotxt2">PERFORMANCE</div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <span></span>
                            <li><a href="#">Find your vehicle</a></li>
                            <span></span>
                            <li><a href="#">Remapping</a></li>
                            <span></span>
                            <li><a href="#">Dyno facilities</a></li>
                            <span></span>
                            <li><a href="#">Shop</a></li>
                            <span></span>
                            <li><a href="#">Become a dealer</a></li>
                            <span></span>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="heading2">
        <div class="container">
        <div class="row">
		<div class="col-md-3">
            <h1>Products</h1>
			</div>
			<div class="col-md-7">
			<ul style="transform: translateY(25%);">
               <li class="text-white"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> KESS V2 SLAVE VERSION </li>
               <li class="text-white"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> KTAG SLAVE VERSION</li>
               <li class="text-white"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> POWERGATE 3</li>
               <li class="text-white"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> ALIENTECH CABLES AND ACCESSORIES</li>
               <li class="text-white"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> AUTOTUNER SLAVE VERSION</li>
           </ul>
			</div>
        </div>
        </div>
    </section>
    
	<section class="heading3">
	<div class="container">
        <div class="row">
        <div class="col-md-6">
		<h4 class="hdng">KESSV2 SLAVE VERSION</h4>
		</div>
		<div class="col-md-6">
		<button class="topbutton">Available Cables</button>
		</div>
		</div><br>
		<div class="container mb-4">
    <div class="row">		
        <div class="col-lg-12 pb-5">
            <div class="cart-item d-md-flex justify-content-between" style="background:#eee;">
            <div class="row">
            <div class="col-md-6">
                <div class="px-3 my-3">
                    <a class="cart-item-product" href="#">
                        <div class="cart-item-product-thumb"><img src="../static/3.jpeg" alt=""></div>
                        <div class="cart-item-product-info">
						  <h6 style="color:rgb(192 21 29); margin-bottom:8px;">Code:<span style="color:#000000; font-weight:600">14P600KS01</span></h6>
                            <h4 class="cart-item-product-title">KESSV2 SLAVE(TOOL)</h4>
							<p class="subtxt no-wrap">Tool and following cables:144300KCAN - 144300K201</p>
                            <div class="text-lg text-body font-weight-medium pb-1"><Span class="prc">Price:</span>€900.00</div>
                        </div>
                    </a>
						
                </div>
            </div>
			<div class="col-md-6">
            <button class="inbutton">Add to Cart</button>
			</div>
            </div>
            </div>
            
        </div>
    </div>
	<div class="col-lg-12 pb-5">
            <div class="cart-item d-md-flex justify-content-between" style="background:#eee;">
            <div class="row">
            <div class="col-md-6">
                <div class="px-3 my-3">
                    <a class="cart-item-product" href="#">
                        <div class="cart-item-product-thumb"><img src="../static/3.jpeg" alt=""></div>
                        <div class="cart-item-product-info">
						  <h6 style="color:rgb(192 21 29); margin-bottom:8px;">Code:<span style="color:#000000; font-weight:600">14P600KS03</span></h6>
                            <h4 class="cart-item-product-title">CAR-BIKE OBD PROTOCOLS </h4>
							<p class="subtxt">Slave Protocol activation for Cars, LCVs and Bikes.</p>
							<p >Included 12 months of Subscription.
							</p>
                            <div class="text-lg text-body font-weight-medium pb-1"><Span class="prc">Price:</span>€900.00</div>
                        </div>
                    </a>
						
                </div>
            </div>
			<div class="col-md-6">
            <button class="inbutton">Add to Cart</button>
			</div>
            </div>
            </div>
            
        </div>
		
		<div class="col-lg-12 pb-5">
            <div class="cart-item d-md-flex justify-content-between" style="background:#eee;">
            <div class="row">
            <div class="col-md-6">
                <div class="px-3 my-3">
                    <a class="cart-item-product" href="#">
                        <div class="cart-item-product-thumb"><img src="../static/3.jpeg" alt=""></div>
                        <div class="cart-item-product-info">
						  <h6 style="color:rgb(192 21 29); margin-bottom:8px;">Code:<span style="color:#000000; font-weight:600">14P600KS02</span></h6>
                            <h4 class="cart-item-product-title">TRUCK OBD PROTOCOLS </h4>
							<p class="subtxt">Slave Protocol activation Trucks.</p>
							<p >Included 12 months of Subscription.
							</p>
                            <div class="text-lg text-body font-weight-medium pb-1"><Span class="prc">Price:</span>€900.00</div>
                        </div>
                    </a>
						
                </div>
            </div>
			<div class="col-md-6">
            <button class="inbutton">Add to Cart</button>
			</div>
            </div>
            </div>
            
        </div>
		
		<div class="col-lg-12 pb-5">
            <div class="cart-item d-md-flex justify-content-between" style="background:#eee;">
            <div class="row">
            <div class="col-md-6">
                <div class="px-3 my-3">
                    <a class="cart-item-product" href="#">
                        <div class="cart-item-product-thumb"><img src="../static/3.jpeg" alt=""></div>
                        <div class="cart-item-product-info">
						  <h6 style="color:rgb(192 21 29); margin-bottom:8px;">Code:<span style="color:#000000; font-weight:600">14P600KS03</span></h6>
                            <h4 class="cart-item-product-title">AGRICULTURE OBD PROTOCOLS </h4>
							<p class="subtxt">Slave Protocol activation for Agricultural Vehicles.</p>
							<p >Included 12 months of Subscription.
							</p>
                            <div class="text-lg text-body font-weight-medium pb-1"><Span class="prc">Price:</span>€900.00</div>
                        </div>
                    </a>
						
                </div>
            </div>
			<div class="col-md-6">
            <button class="inbutton">Add to Cart</button>
			</div>
            </div>
            </div>
            
        </div>
    </div>
</div>
		
		</div>
	</section>
	
	<div class="center">
  <div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#" class="active">1</a>
  <a href="#" >2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">&raquo;</a>
  </div>
</div>

	
    <footer>
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="container">
            <div class="row firstrow">
                <div class="col-md-3">
                    <div class="logo">
                        <div class="logotxt1">VTC</div>
                        <div class="logotxt2">PERFORMANCE</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <h4 class="mb-2">Browse Site</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Remapping</a></li>
                        <li><a href="#">Dyno Facilities</a></li>
                        <li><a href="#">Become a Dealer</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <button type="button" class="clientLogin">Clients Login</button>
                    <div class="subscription">
                        <input type="text" placeholder="Your Email..."/>
                        <button type="button">Subscribe</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Follow us on</h4>
                    <div class="socialMedia">
                        <div><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        <div><i class="fa fa-youtube-square" aria-hidden="true"></i></div>
                        <div><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
            <div class="row pt-2" style="text-align: center;">
                <p class="text-center w-100">
                    (c) 2020 VTC Performance. All rights reserved.
                </p>
            </div>
        </div>
    </footer>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.js" 
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
    crossorigin="anonymous">
</script>
</html>